.hero(
ng-style="{ 'background-image': 'url(' + bookShow.book.cover + ')' }"
)

	.A4
		h1 {{ bookShow.book.name }}
		p {{ bookShow.book.description }}

.bar

	.A4
		span.author
			i by:&nbsp;
			img(ng-src="{{ bookShow.book.author.avatar }}")
			| {{ bookShow.book.author.name }}
		span.published
			i Published:&nbsp;
			| {{ bookShow.book.published | daysSince }}
		span.votes
			i Votes:&nbsp;
			| {{ bookShow.book.likes }}

.A4
	h2 Introduction
	p(ng-repeat="introPara in bookShow.book.introduction") {{ introPara.content }}

footer.A4(ng-show="bookShow.relatedBooks")

	h2 Check out these {{ bookShow.book.genre.name | booksSuffix }}

	ul
		li(
		ng-repeat="book in bookShow.relatedBooks"
		book-card="book"
		)

		//li(
		//ng-repeat="book in bookShow.relatedBooks"
		//ng-click="bookShow.goToBookById(book.id)"
		//ng-style="{ 'background-image': 'url(' + book.cover + ')' }"
		//)
		//	.title {{ book.name }}
